@import url('https://fonts.googleapis.com/css2?family=Sansation:wght@400;700&family=Sansita:wght@400;700&display=swap');

.header-container {
    background: linear-gradient(180deg, 
    rgba(204, 17, 102, 0.30) 0%,   /* CC1166 with 30% opacity */
    rgba(121, 14, 70, 0.63) 70%,   /* 790E46 with 63% opacity */
    rgba(25, 11, 34, 0.8) 100%       /* 190B22 with 100% opacity */
  );
  background-color: #8a2be2;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.all-dogs-container {
  display: flex;
  flex-direction: column;
    h1 {
      font-family: 'Sansita', sans-serif;
      font-size: 2rem;
      font-weight: bold;
    }
    
    .search-card-container {
      width: 100%;
      display: flex;
      flex-direction: row;
    }

    p {
      font-family: 'Sansita', sans-serif;
      text-align: center;
    }

}
