@import url('https://fonts.googleapis.com/css2?family=Sansation:wght@400;700&family=Sansita:wght@400;700&display=swap');

h1 {
    font-family: 'Sansita', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.favorites-container {
    .card-container {
        display: grid;
        grid-template-columns: repeat(5, minmax(220px, 1fr));
        gap: 16px;
        padding: 16px;
      }
}
