.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5rem 0.5rem 0.5rem 0.5rem;
  width: 90vw;
  margin: 0 auto;    
  height: 90vh;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  font-family: sansation;  
  background: linear-gradient(180deg, 
  rgba(204, 17, 102, 0.30) 0%,   /* CC1166 with 30% opacity */
  rgba(121, 14, 70, 0.63) 50%,   /* 790E46 with 63% opacity */
  rgba(25, 11, 34, 1) 100%       /* 190B22 with 100% opacity */
);
}
.home-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
}

.intro-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: white;
}

.intro-section h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.intro-section h2 {
  font-size: 2rem;
  color: #FFD700; 
  margin-bottom: 1rem;
}

.intro-section p {
  margin-bottom: 20px;
  font-size: 1.2em;
  text-align: justify;
}

.check-button {
  padding: 10px 20px;
  background-color: #66317A;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1em;
  -webkit-text-stroke: 0.5px #FFD700; /* Yellow stroke around text */
  align-self: center;
}

.image-grid {
  display: flex;
  gap: 1rem;
  padding: 0 3rem;
}

.image-grid-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.image-grid-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.image-grid-3 {
  display: flex;
  gap: 0.5rem;
}

.image-grid img {
  object-fit: cover;
  border-radius: 10px;
}

.dog-1 {
  width: 12.5rem;
  height: 10.5rem;
  border-radius: 10px;
}

.dog-2 {
  width: 12.5rem;
  height: 13rem ;
  border-bottom-left-radius: 100px;
}

.dog-3 {
  width: 12.5rem;
  height: 15.5rem;
  border-bottom-left-radius: 60px;
}

.dog-4 {
  width: 5.5rem;
  height: 6.25rem;
}
.dog-5 {
  width: 6.25rem;
  height: 8rem;
}