.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
    margin: 1rem 0;
}

.pagination button {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
    margin: 0 0.2rem;
    border-radius: 5px;
}

.page-indicator {
    color: #333 ;
    font-size: 1rem;
    font-weight: bold;
}

.pagination button:disabled {
    display: none;
}

.pagination button:hover {
    background-color: #777;
}