#root {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  display: flex;           
  flex-direction: column;     
  height: 100vh;  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 90%;
  height: 80px;
  background: linear-gradient(to left, #66317A, #f3e3e3);
  padding: 1rem 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 1fr 1fr;
  align-items: center;
  gap: 1rem;

  .logo {
      height: 3rem;
      align-self: baseline;
      grid-column: 1;
  }

  >*:nth-child(2) {
      grid-column: 4;
  }

  >*:nth-child(3) {
      grid-column: 5;
  }

  a {
      color: white;
      text-decoration: none;
  }

  a:hover {
      color: antiquewhite;
  }

  .active-link {
      font-weight: bold;
      color: var(--accent-red);
  }
}